In [15]:
import pandas as pd
from sklearn import preprocessing

df = pd.read_excel('./data/all_agents_score.xlsx', index_col=0)
df = df.drop('behavior', axis=1)
df

                      computer_score  human_score
-N2gl9wHXMJoXRg5OyiP              51           56
-N2gnbwu9gs6PgpScg-B              29           46
-N2gpqCiV6iClR2iJfDD              10           15
-N2gzRD6MoUAWRj3PaOV               9           10
-N2h6FFFrGGqFAUIRi6W               0            6
...                              ...          ...
-N7SS0ZNRRzABEFqOvRm              37           51
-N7SWDA_ldwYcJkG2XKL              57           57
-N7SZPE3oHGDDzPTrYxV               7           19
-N7ScVpejC0Dy0ua8k1T              56           55
-N7SuS0uDb2PVST69Iae               5           25

[152 rows x 2 columns]

In [16]:
accuracy = 0.724

min_c = df.computer_score.min()
max_c = df.computer_score.max()

min_h = df.human_score.min()
max_h = df.human_score.min()

correlation = df.computer_score.corr(df.human_score)
correlation

0.7173693704714774

# Attempt 1:

In [17]:
1 - correlation/accuracy

0.009158328078069822

# Attempt 2:

In [18]:
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_df = pd.DataFrame(x_scaled, columns=df.columns)

In [19]:
rmse = ((normalized_df.computer_score - normalized_df.human_score) ** 2).mean() ** .5
1 - rmse/accuracy

0.7354898831002423

# Attempt 3:

In [20]:
1 - correlation/(accuracy + correlation)

0.5023001146216788

# Attempt 4:

In [21]:
1/ (1/accuracy + 1/correlation)

0.3603347170139046